.tag {
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  font-size: 0.9em;
  color: #333;
  background-color: #e7e7e7;
  border-radius: 4px;
  white-space: nowrap;
}

.deleteButton {
  margin-left: 8px;
  background: none;
  border: none;
  border-radius: 6px;
  color: #333;
  font-size: 0.9em;
  font-weight: bold;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #ccc;
}
