.tagsContainer {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.inputContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.input {
  padding: 6px;
  font-size: 0.9em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.addButton {
  padding: 6px 10px;
  font-size: 0.9em;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.addButton:hover {
  background-color: #45a049;
}
